body {
    /* background-image: linear-gradient(25deg, white, white, white,  white, white, blue, blue, purple, blue, blue, blue); */
}

h1 {
  background-image: linear-gradient(145deg,orange, gold, palegoldenrod, white, cyan, aqua, deepskyblue,  cornflowerblue, darkcyan, blue, blue, purple, blue, darkblue, black);
  margin-bottom: 0; /* override BS5 */
}

.btn-weather-colour {
  background-image: linear-gradient(145deg,orange, gold, palegoldenrod, white, cyan, aqua, deepskyblue,  cornflowerblue, darkcyan, blue, blue, purple, blue, darkblue, black);
}

#card-left-side-cities {
  /* background-image: linear-gradient(215deg, white, gold, palegoldenrod, gold, gold, palegoldenrod, white, cyan, aqua, deepskyblue); */
}

#city-name {
  margin: 5px 0px 5px 0px;
}

#weather-report {
  /* background-image: linear-gradient(37deg, white,  white, purple, blue, white, white); */
}

/* #gradient-text-sean {
  background-image: 
    linear-gradient(90deg, red, blue);
  background-clip: text;
  color: green;
} */

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}
